.leaflet-container {
    height: 80vh;
    width: 100wh;
    z-index: 0;
}

.legend {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item span {
    margin-left: 5px;
}

.list {
    list-style-type: none;
    padding: 0;
}