:root {
  --main-background-color: #eeffe2;
  --text-color: #008080;
  --nav-background-color: var(--text-color);
  --border-color: #003b3b;
  --nav-text-color: var(--main-background-color);
  --search-button-color: var(--main-background-color);
  --nav-font-size: 1.2vw;
}
