/* Base styles for all screen sizes */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--main-background-color) !important;
  color: var(--text-color) !important;
}

/* Navbar styles */
.navbar {
  background-color: var(--nav-background-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--nav-text-color);
  padding: 0 1%;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 8%;
  font-size: var(--nav-font-size);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  z-index: 1000;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
}

.navbar-brand {
  text-decoration: none;
  color: var(--nav-text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navbar-nav li {
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav li a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.search-input {
  margin-right: 0.5rem;
  font-size: var(--nav-font-size);
}

.search-button {
  background-color: var(--search-button-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: var(--nav-font-size);
}

/* Content styles */
.content {
  flex-grow: 1;
  padding: 2%;
  background-color: var(--main-background-color);
  color: var(--text-color);
  margin-top: 5%;
  margin-bottom: 8%;
  position: relative;
}

.leaflet-container {
  height: 80vh;
  width: 100wh;
  z-index: 0;
}

/* Login styles */
.login-button-container {
  position: static;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--nav-background-color);
  color: var(--main-background-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  padding: 0.4rem;
}

.login-button:hover {
  background-color: var(--border-color);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  width: 30vw;
  background-color: var(--nav-background-color);
  padding: 2rem;
  border-radius: 10px;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: var(--main-background-color);
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs-bar {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.75rem;
  background-color: var(--main-background-color);
  color: var(--nav-background-color);
  border-radius: 6px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.submit-button:hover {
  background-color: var(--nav-background-color);
  color: var(--main-background-color);
  border-color: var(--main-background-color);
}

/* Legend styles */
.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-item span {
  margin-left: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
}

/* Book styles */
.book-item {
  margin-bottom: 20px;
}

.book-item h3 {
  margin-bottom: 10px;
}

.book-item .book-details {
  display: flex;
  align-items: flex-start;
}

.book-item .image-container {
  flex: 0 0 300px;
  margin-right: 20px;
}

.book-item .image-container img {
  width: 100%;
  height: auto;
}

.book-item .text-container {
  flex: 1;
}

/* YouTube styles */
.youtube-item {
  margin-bottom: 20px;
}

.youtube-item h3 {
  margin-bottom: 10px;
}

.video-text-container {
  display: flex;
  align-items: flex-start;
}

.video-container {
  flex: 0 0 500px;
  height: 281px;
  margin-right: 20px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.content-container {
  flex: 1;
}

/* Podcast styles */
.podcast-item {
  margin-bottom: 20px;
}

.podcast-item h3 {
  margin-bottom: 10px;
}

.podcast-content-container {
  display: flex;
  align-items: flex-start;
}

.podcast-container {
  flex: 0 0 500px;
  height: 352px;
  margin-right: 20px;
}

.podcast-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px;
}

.content-container {
  flex: 1;
}

/* Footer styles */
.footer {
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  text-align: center;
  padding: 2%;
  width: 100%;
  height: 8%;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* Media queries for phones (max-width: 480px) */
@media (max-width: 480px) {
  .navbar {
    height: 10%;
    font-size: 0.8rem;
  }

  .content {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
  }

  .login-button-container {
    position:relative;
    right: 40%;
  }

  .login-box {
    width: 70vw;
  }

  .book-item .image-container {
    flex: 0 0 250px;
  }

  .youtube-item .video-container {
    flex: 0 0 300px;
    height: 180px;
  }

  .footer {
    font-size: 0.9rem;
  }
}

/* Media queries for tablets (min-width: 768px) */
@media (min-width: 768px) {
  .navbar {
    height: 8%;
    font-size: 1rem;
  }

  .content {
    padding: 3%;
  }

  .login-box {
    width: 40vw;
  }

  .book-item .image-container {
    flex: 0 0 400px;
  }

  .youtube-item .video-container {
    flex: 0 0 500px;
    height: 250px;
  }

  .footer {
    font-size: 1rem;
  }
}

/* Media queries for desktops (min-width: 1920px) */
@media (min-width: 1920px) {
  .navbar {
    height: 8%;
    font-size: 1rem;
  }

  .content {
    padding: 3%;
  }

  .book-item .image-container {
    flex: 0 0 300px;
    margin-right: 20px;
  }

  .youtube-item .video-container {
    flex: 0 0 500px;
    height: 281px;
    margin-right: 20px;
  }

  .footer {
    font-size: 1rem;
  }
}