body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Navbar styles */
.navbar {
  background-color: #eeffe2;
  border-bottom: 1px solid #008080;
  color: #008080;
  padding: 0 1%;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 8%;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 2%;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 2%;
  width: 100%;
}

.navbar-brand {
  text-decoration: none;
  color: #008080;
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  gap: 5%;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-right: 2%;
}

.navbar-nav li a {
  text-decoration: none;
  color: #008080;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 2%;
}

/* Content styles */
.content {
  margin: 8% 0;
  padding: 0 2%;
}

/* Footer styles */
.footer {
  background-color: #eeffe2;
  color: #008080;
  text-align: center;
  padding: 2%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}